@page "/type"
@attribute [Authorize]
@inject HttpClient http

<h3>Types</h3>

<a href="/type/create">Create a type</a>

@if (types == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TypeListItem type in types)
            {
                <tr>
                    <td>@type.Id</td>
                    <td>@type.Name</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<TypeListItem> types;

    protected override async Task OnInitializedAsync()
    {
        types = await http.GetFromJsonAsync<List<TypeListItem>>("type");
    }
}

